@{ 
    ViewBag.Title = "File Browther";
}

<div class=" col-md-6 col-lg-6 col-sm-6" ng-app="folderBrowserApp" ng-controller="folderController as vm">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Less 10Mb</td>
                <td>10Mb-50Mb</td>
                <td>More 100Mb</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ng-repeat="amount in vm.filesAmounts">{{ amount }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <b>Current path:</b>{{ vm.currentPath }}
    </div>
    <div>
        <a ng-click="vm.GoTo('parentFolder')">...</a>
        <div ng-show="!vm.busy">
            <div ng-repeat="folder in vm.files">
                <a ng-click="vm.GoTo(folder)">{{ folder }}</a>
            </div>
        </div>
        <div ng-show="vm.busy">Please wait for a moment!</div>
    </div>
</div>
<style>
    thead tr td{
        background-color:lightgray;
        color: white;
    }
    a{
        text-decoration: underline;
    }
    a:hover{
        text-decoration: none;
        cursor:pointer;
    }
</style>